<h4>Sélectionner un projet</h4>
<mat-action-list>
  <mat-form-field>
    <input type="text" placeholder="Projet" matInput [formControl]="myControl" [matAutocomplete]="auto" #input>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-action-list>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="{input: input.value}" cdkFocusInitial>Valider</button>
</mat-dialog-actions>
