<!--<mat-form-field>

    <mat-option *ngFor="let projet of projets" >
      {{projet.libelle}}
    </mat-option>

</mat-form-field>



<mat-form-field>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">


    <mat-option *ngFor="let projet of projets" [value]="projet">

      </mat-option>
    </mat-autocomplete>
  </mat-form-field>--->

  <mat-action-list>
      <input matInput placeholder="Projet" value="">

      <mat-option *ngFor="let projet of projets" [value]="projet">
      <button mat-list-item [mat-dialog-close]=""> {{projet.libelle}}</button>
      </mat-option>
    </mat-action-list>



