mat-toolbar {
  background-color: #FF4949 !important;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.spacer {
  flex: 1 1 auto;
}
mat-card-actions{
  position: relative;
  display: inline-block;
  float: right;
  right: 5%;

}

.resume {
  text-align: center;
  color: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.resume div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mat-card{
  width: 100%}

.giphy-embed{ color: #fff;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.test{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #114375;
}

.mat-raised-button.mat-primary {
  background-color: #FF4949 !important;
}
