<div class="test"><mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="assets/logo2.png" frameBorder="0" class="logo" />


       <span class="spacer"></span>

       <a mat-button (click)="openDialogInscription()" >Inscription</a>
       <a mat-button (click)="openDialogConnexion()">Connexion</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class= "resume">
    <h2>Organisez votre vie</h2>
    <p>Faites ce que vous pouvez,<br/>
      avec ce que vous avez!</p>

    <div><button mat-raised-button (click)="openDialogInscription()" color="primary">LANCEZ-VOUS</button></div>

    <img src="assets/gif/giphy2.gif" class="giphy-embed"/>
  </div>

</div>
