mat-toolbar {
  background-color: #FF4949 !important;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.spacer {
  flex: 1 1 auto;
}
mat-card-actions{
  position: relative;
  display: inline-block;
  float: right;
  right: 5%;

}

.resume {
  padding:5%;
  text-align: center;
}

.mat-card{
  width: 100%}

.giphy-embed{ color: #fff;
  position: absolute;
  left: 10%;
  top: 50%;
  width: 300px;
//  margin-left: 100px;
  text-align: center;
  display: inline-block;

}

.test{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 // background-image: url("../../../assets/gif/giphy2.gif");
  background-repeat: repeat;
  background-size: 150px;
  background-color: #114375;
}
.mat-raised-button.mat-primary {
  background-color: #FF4949 !important;

  //right: 100%;
}

.resume{
  color: white;
}
