<div class="test"><mat-toolbar color="primary">
    <mat-toolbar-row>
       <span class="spacer"></span>

       <a mat-button (click)="openDialogInscription()" >Inscription</a>
       <a mat-button (click)="openDialogConnexion()">Connexion</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class= "resume">
<h2>
  Organisez votre vie puis profitez-en...
</h2>
  <p>La vie peut parfois sembler écrasante, mais ça n'a pas à être le cas. Avec Todoist, vous gardez tout en un seul lieu, pour faire ce que vous souhaitez et profiter de plus de tranquillité d'esprit en cours de route.
  </p> </div>
      <mat-card-actions>

          <button mat-raised-button (click)="openDialogInscription()" color="primary" position= "right">LANCEZ-VOUS</button>
        </mat-card-actions>


  <img src="assets/gif/giphy2.gif" frameBorder="0" class="giphy-embed" allowFullScreen/></div>
