mat-card {
  border: none;
  border-bottom: 1px solid rgba($color: #000000, $alpha: .04);
  box-shadow: none !important;
  border-radius: 0;
  color: rgba($color: #000000, $alpha: .6);
  font-size: 15px;
}

.icon-myFlag {
  font-size: 25px;
}

.tacheContenu {
  position: absolute;
  left: 5px;
}
.tacheProjet {
 font-size: 10px;
 position: absolute;
left: 5px;
}
.tacheDate{
  font-size: 12px;
}

/*::ng-deep.mat-radio-outer-circle
{
  border-color:red !important;
  width: 15px !important;
  height: 15px !important;
}*/
