mat-toolbar {
  background-color: #FF4949 !important;
}

.title {
  color: #fff;
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  display: inline-block;
  font-family: 'Sriracha', cursive;
  font-size: 25px;
}
