mat-toolbar {
  background-color: #FF4949 !important;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.title {
  color: #fff;
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  display: inline-block;
  font-family: 'Sriracha', cursive;
  font-size: 25px;
}

