.inputContenu {
  background-color: #F9F9F9;
  border: 1px solid rgba(255, 255, 255, .02);
  border-radius: 35px;
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: #F9F9F9;
  border: none;
  width: calc(#{100%} - #{111px});
  height: 65px;
  padding-left: 35px;
  padding-right: 66px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, .3);
  overflow:hidden;
  resize: none;
}

.inputContenu:focus{
  outline: none;
}

.buttonAdd {
  position: fixed;
  right: 15px;
  bottom: calc(#{5px} + (#{75px} - #{56px}) / 2);
  font-size: 30px;
  font-weight: normal;
}

.addTacheContainer {
  height: 75px;
  position: fixed;
  bottom: 5px;
  left: 5px;
  right: 5px;
  width: calc(#{100%} - #{10px});
}

mat-chip-list {
  position: fixed;
  bottom: 90px;
}

.icon-myFlag {
  font-size: 20px;
}

.middle {
  margin-left: 10px;
  margin-right: 10px;
}

.inputDate {
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  width: 70px;
  text-align: center;
  outline: none;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 48px;
  padding: 0 12px;
  background-color: #e0e0e0 !important;
}
.change-color{
  color: red;
}
.cdk-touch-focused{
  background-color: #114375;
}

.cdk-focused{
  background-color: #114375;
}

.mat-fab.mat-accent{
  background-color: #FF4949 !important;
}
.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  color: white !important;
}
